body{
    background: rgb(255, 255, 255);
    color: rgb(58, 58, 58);
    text-align: justify;
    font-family: 'Nanum Gothic', sans-serif;
    
    
}

#historia{
    text-align: justify;
    font-size: 20px;
    margin:  40px;
    padding: 10px;
    font-weight: bold;
    
    
}

.titulos{
    text-align: center;
    font-size: 30px;
    color:#090249; 
    font-weight: bold;
    padding-top: 50px;
    
}

#logo{
    padding: 15px;
    width: 80%;
    height: 25%;
    
    
   
}

.nomes{
    background:none;
    padding: 5px;
    border-style: none;
    text-decoration: underline;
    color: rgb(58, 58, 58);
    font-size: 20px;
    cursor: pointer;
    
    
    
}

.imagens{
   
    width: 50%;
    

}
.resumo{
    margin: 15px;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}   




.figuras{
    
    max-width: 40%;
      
    
}
.grid{
    display: none;
    
    
}


.navbar-inverse{
      
    list-style:none;
    position: fixed;
    margin-top: 0% !important;
    margin-left: 0% !important;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    
    background-color:#090249;
    
  
}

.nome_personagem{
    font-size: 20px;
    color:rgb(180, 5, 5);
    font-weight: bold;
    

    
    


}

.personagem{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    
    
    
}

.myNavbar
{
    position:sticky;
    top:0;
    z-index:99999
}





    
