body{
    background: linear-gradient(-45deg, #0c0129, #180475f8, #0d0152, #090249 );
    color: rgb(209, 208, 208);
    text-align: justify;
    font-family: 'Nanum Gothic', sans-serif;
    
    
}

#historia{
    text-align: justify;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    
    
}

.titulos{
    text-align: center;
    font-size: 30px;
    color:rgb(236, 9, 9); 
    font-weight: bold;
    padding-top: 50px;
    
}

#logo{
    padding: 15px;
    width: 80%;
    height: 25%;
    
    
   
}

.nomes{
    background:none;
    padding-left: 30px;
    border-style: none;
    text-decoration: underline;
    font-family:cursive;
    color: rgb(247, 247, 247);
    font-size: 20px;
    cursor: pointer;
    
    
    
}

.imagens{
   
    width: 30%;  
}
.resumo{
    font-size: 16px;
    padding: 20px;
    text-align: justify;
}   

span{
    font-size: 20px;
    color: black;
    border-style: outset;
    border-color: white;
    border-radius: 40px;
    border-width: 2px;
    padding: 2px;
    font-weight: bold;

}


.figuras{
    margin-left: 20px;
    max-width: 40%;    
}
.grid{
    display: none;
    
    
}


.navbar-inverse{
      
    list-style:none;
    position: fixed;
    margin-top: 0% !important;
    margin-left: 0% !important;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    background-color:#090249;
    
    
    
   
}

.links{
    
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: left;
    
    
    
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

.personagem{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    
}

.myNavbar
{
    position:sticky;
    top:0;
    z-index:99999
}





    
